body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.nav-link {
    color: #8e8e8e;
    font-family: sans-serif;
    font-size: 15px !important;
    font-weight: 400;
}

.btn {
    box-shadow: none !important;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .navbar {
    background-color: #e2e2e2 !important;
}

.form-select {
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 7px;
    border: 1px solid #3973b6;
    color: #8e8e8e;
    width: 100px !important;
    font-size: 16px;
    padding: 6px 14px !important;
}


.form-select option:focus {
    border: 1px solid black !important;
}

.btn-outline-primary {
    border-radius: 7px;
    border: 1px solid #337ab7 !important;
    padding: 6px 14px !important;
    color: #19486d;
}

.navbar-light .navbar-toggler {
    border: none !important;
    color: transparent !important;
}


.about .container h2 {
    font-size: 35x !important;
    font-family: sans-serif;
    font-weight: 600;
}

.about .container .about-text {
    font-size: 14px !important;
    font-family: sans-serif;
    font-weight: 500;
}

.about .container .about-text ul {
    list-style-type: none !important;
}
.dark-mode .about {
    border-bottom: 1px solid lightgray;
}

.courses {
    background-color: #e0f0ff;
}

.dark-mode .courses {
    background-color: black !important;
}

.dark-mode .courses h2 {
    color: white;
}
.dark-mode .courses{
    border-bottom: 1px solid lightgray;
}

.courses h2 {
    color: #3973b6;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 600;
}

.courses .container .card .card-body h5 {
    color: #19486d;
    font-family: sans-serif;
    font-weight: 600;
}

.courses .container .card {
    border: none !important;
}

.courses .container .card .card-body p {
    color: #19486d;
    font-size: 14px;
    text-align: justify;
    font-family: sans-serif;
}

.courses .container .card .card-body span {
    font-size: 12px;
    color: #19486d;
    margin-left: 5px;
}

.faq {
    background-color: #e0f0ff;
}

.faq .accordion-content {
    background-color: white;
    padding: 40px 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.dark-mode .faq {
    background-color: black;
}

.dark-mode .faq .accordion-content {
    background-color: black;
    color: white;
}

.dark-mode .faq h2 {
    color: white;
}

.faq h2 {
    color: #3973b6;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 600;
}

.accordion-button {
    background-color: #e0f0ff !important;
}

.accordion-item {
    background-color: #e0f0ff;
    border: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #e0f0ff !important;
    color: #19486d !important;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.accordion-button.collapsed::after {
    content: '\002B';
    font-size: 25px;
    width: 1.25rem !important;
    height: 1.45rem !important;
}

.accordion-button:not(.collapsed)::after {
    content: '\2212';
    font-size: 20px;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button.collapsed {
    color: #19486d;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.accordion-body {
    font-family: sans-serif;
    font-size: 14px;
    color: #19486d;
}

.faq .container-fluid .btn-secondary {
    background: linear-gradient(90deg, #40a5ee, #19486d) !important;
    color: white;
    font-weight: 600;
    border: none !important;
}

.footer {
    background-color: #b3d4fc;
    padding: 10px 45px;
}

.footer .container-fluid .group {
    border-bottom: 1px solid #c6c5c5;
}

.footer a {
    color: #454545 !important;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.footer a:hover {
    color: #3973b6 !important;
}

.footer span {
    color: #19486d;
    font-size: 14px;
    font-weight: 500;
}

.footer span a {
    color: blue !important;
    font-size: 16px;
    font-weight: 700;
}

.footer span a:hover {
    color: blue !important;
}

.SignIn .logo {
    text-align: center;
    margin-top: 20px;
    background-color: lightgray;
}

.SignIn .logo {
    padding: 30px;
}

.SignIn .form {
    font-family: sans-serif;
    padding: 30px;
}

.form span {
    color: black !important;
    font-family: sans-serif;
    font-family: 500;
}

.form p {
    color: #8e8e8e;
}

.form label {
    display: block;
    margin-bottom: 6px;
    color: black;
    font-size: 15px;
}

.form input {
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form input:focus {
    outline: none !important;
    border: 1px solid #40a5ee;
}

.form input[placeholder="name@host.com"] {
    font-size: 14px;
    color: lightgray;
    font-family: sans-serif;
}

.form input[placeholder="Password"] {
    font-size: 14px;
    color: lightgray;
    font-family: sans-serif;
}

.form a {
    font-size: 14px;
}

.form a {
    text-decoration: underline !important;
    color: #19486d;
}

.form input[type="button"] {
    background-color: #337ab7;
    color: white;
    padding: 10px 30px;
}

.form .button {
    width: 100%;
    text-align: start;
    background-color: #337ab7;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 10px;
}

.carousel {
    background-color: #eff6fb;
    padding: 30px;
}

.dark-mode .carousel {
    background-color: black;
    border-bottom: 1px solid lightgray;
}

.dark-mode .carousel-inner-text h1 {
    color: white;
}

.dark-mode .carousel .carousel-indicators button {
    background-color: white !important;
}


.carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #19486d !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 60%;
    margin-right: 5%;

}

.carousel-control-prev {
    background-color: #000;
    opacity: 1;
    width: 3% !important;
    padding: 0;
    margin: auto;
    height: 60px;
    margin-left: 10px;

}

.carousel-control-next {
    background-color: #000;
    opacity: 1;
    width: 3% !important;
    padding: 0;
    margin: auto;
    height: 60px;
    margin-right: 10px;

}

.carousel-inner-text h1 {
    color: #19486d;
    font-family: sans-serif;
    font-weight: 700;

}

.carousel-inner-text p {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

#carousel-image {
    border-radius: 50px;
}